In [16]:
# load data
import sqlite3
import pandas as pd
from datetime import datetime

con = sqlite3.connect('./example.db')

ftse_prediction = pd.read_sql('select * from ftse_prediction', con)
test_cols = list(filter(lambda col: col not in ['level_0', 'index', 'target'] ,ftse_prediction.columns))


ftse_prediction.index = pd.to_datetime(ftse_prediction['level_0'])
ftse_prediction = ftse_prediction[['target', 'index'] + test_cols]

train_end = pd.to_datetime('31/01/2021')

test_mask = lambda s: (s.index > train_end) & (s.index <= datetime.now())

ftse_prediction = ftse_prediction[test_mask(ftse_prediction)]
X_test = ftse_prediction[test_cols]
y_test = ftse_prediction['target']
y_test

level_0
2021-02-01    1.0
2021-02-02    0.0
2021-02-03    0.0
2021-02-04    0.0
2021-02-05    1.0
2021-02-08    1.0
2021-02-09    0.0
2021-02-10    1.0
2021-02-11    1.0
2021-02-12    1.0
2021-02-15    0.0
2021-02-16    0.0
2021-02-17    0.0
2021-02-18    1.0
2021-02-19    0.0
2021-02-22    1.0
2021-02-23    1.0
2021-02-24    1.0
2021-02-25    0.0
2021-02-26    1.0
2021-03-01    1.0
2021-03-02    1.0
2021-03-03    0.0
2021-03-04    0.0
2021-03-05    1.0
2021-03-08    1.0
Name: target, dtype: float64

In [10]:
# load model
import pickle

gb_mdl = pickle.loads(open('./lib/models1/ftse_prediction_model_1.pickle', 'rb').read())

In [13]:
pd.DataFrame([gb_mdl.predict(X_test), y_test])

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.699291,0.547593,0.379778,0.629267,0.606256,0.451789,0.438897,0.72501,0.643718,0.388241,...,0.525982,0.700835,0.568249,0.679661,0.754168,0.392954,0.376039,0.494907,0.513108,0.516074
1,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.00000,1.000000,0.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000