In [2]:
# load data
import sqlite3
import pandas as pd
from datetime import datetime

con = sqlite3.connect('./example.db')

ftse_prediction = pd.read_sql('select * from ftse_prediction', con)
test_cols = list(filter(lambda col: col not in ['level_0', 'index', 'target'] ,ftse_prediction.columns))


ftse_prediction.index = pd.to_datetime(ftse_prediction['level_0'])
ftse_prediction = ftse_prediction[['target', 'index'] + test_cols]

train_end = pd.to_datetime('31/01/2021')

test_mask = lambda s: (s.index > train_end) & (s.index <= datetime.now())

ftse_prediction = ftse_prediction[test_mask(ftse_prediction)]
X_test = ftse_prediction[test_cols]
y_test = ftse_prediction['index']
y_test

level_0
2021-02-01   -0.002258
2021-02-02   -0.000522
2021-02-03   -0.001219
2021-02-04    0.004010
2021-02-05    0.002431
2021-02-08   -0.001213
2021-02-09    0.000694
2021-02-10    0.008667
2021-02-11    0.025090
2021-02-12   -0.001174
2021-02-15   -0.005874
2021-02-16   -0.011481
2021-02-17    0.001708
2021-02-18   -0.002899
2021-02-19    0.002565
2021-02-22    0.004264
2021-02-23    0.000170
2021-02-24   -0.025641
2021-02-25    0.015598
2021-02-26    0.004891
2021-03-01    0.009392
2021-03-02   -0.000338
2021-03-03   -0.004654
2021-03-04    0.013347
2021-03-05    0.002852
2021-03-08   -0.001171
Name: index, dtype: float64

In [7]:
# load model
import pickle
from sklearn.

gb_mdl = pickle.loads(open('./lib/models/ftse_prediction_model_1.pickle', 'rb').read())

gb_mdl.score(X_test, y_test)

-0.17522949674463373

In [6]:
pd.DataFrame([gb_mdl.predict(X_test), y_test])

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,-0.002262,0.002392,-0.003386,0.001724,-0.003630,0.003378,-0.002003,-0.001550,-0.000825,-0.000465,...,-0.004268,0.004552,-0.001434,0.000010,0.004935,-0.000665,-0.004234,0.000828,0.000280,-0.003801
1,-0.002258,-0.000522,-0.001219,0.004010,0.002431,-0.001213,0.000694,0.008667,0.025090,-0.001174,...,0.000170,-0.025641,0.015598,0.004891,0.009392,-0.000338,-0.004654,0.013347,0.002852,-0.001171